@tailwind base;
@tailwind components;
@tailwind utilities;

.debugger {
  @apply border-2 border-red-600;
}

* {
  @apply font-serif;
  @apply text-sm;
  @apply sm:text-base;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @apply bg-blue-100;
  @apply text-blue-950;
}

/* Loader */
#loader {
  border: 16px solid #f3f3f3;
  margin-top: 20px;
  border-radius: 50%;
  border-top: 16px solid #172554;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-blue-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-100;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-100;
}
